* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;

}

button {
    cursor: pointer;
}

.caixa-pai {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    margin: 40px 200px;
}

a {
    margin-right: 70px;
    color: #989D9C;
}

header button {
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: #665AE1;
}

img {
    position: relative;
    margin-top: 10%;
    margin-left: 25%;
}

.filho-left {
    position: relative;

    width: 50%;
    height: 100vh;
}

.filho-rigth {

    width: 50%;
    height: 100vh;
    margin-top: 15%;
    margin-left: 4 0px;
}

h1 {
    font-size: 100px;

    font-weight: 900;
    line-height: 100%;
    margin-bottom: 10px;
}

h2 {
    color: #515151;
    font-size: 58px;
    font-weight: 400;
    margin-bottom: 40px;
}

p {
    font-size: 24px;
    width: 515px;
    height: 87px;
    margin-bottom: 70px;
}

.filho-rigth button {
    background-color: #ADFF00;
    width: 239px;
    height: 64px;
    border-radius: 30px;
    font-weight: 800;
    font-size: 20px;
    border: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:1670px) {
    header {
        width: 900px;

    }

    .filho-rigth {
        position: relative;
        margin-left: 150px;
        padding: 0;
        height: 100%;
        width: 50%;
        margin-top: 15%;

    }

    img {
        position: relative;
        margin-top: 10%;
        margin-left: 15%;
    }

    .caixa-pai {
        height: 100vh;
        width: 99vw;
        display: flex;
    }

    .filho-left {
        position: relative;

        width: 50%;
        height: 100vh;
    }
}

@media screen and (max-width:1380px) {

    header {
        position: relative;
        margin: 40px 50px;
    }

    a {
        margin-right: 40px;


    }

    img {
        width: 500px;


    }


    h1 {
        font-size: 70px;

        font-weight: 900;
        line-height: 100%;
        margin-bottom: 10px;
    }

    h2 {
        color: #515151;
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    p {
        font-size: 20px;
        width: 455px;
        height: 127px;
        margin-bottom: 10px;
    }



}

@media screen and (max-width:1250px) {


    .filho-rigth {
        position: relative;
        right: 100px;
        padding: 0;
        height: 100%;
        width: 50%;
        margin-top: 25%;

    }

    img {

        position: relative;
        width: 480px;
        top: 12%;
        margin-left: 6%;




    }
}

@media screen and (max-width:999px) {
    header {
        display: none;
    }



    .caixa-pai {
        width: 100vh;
        height: 100vw;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;



    }

    .filho-left {

        display: block;
        width: 100%;
        height: 50%;
        position: relative;
        margin: 0;
      




    }

    .filho-rigth {
        /* Ocupa 100% da largura */
        width: 100%;
        /* Ocupa 50% da altura do pai (que é 100vh) */
        height: 50%;

        /* Garante que o elemento seja tratado como bloco */
        display: block;
        position: relative;
        margin-left: 80px;
       
        /* Centraliza os elementos de texto internamente */
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }







    img {
        position: relative;
        margin: 0;
        padding: 0;
        /* Garante que a imagem se ajuste ao contêiner de 50% de altura */
        max-width: 100%;
        left: 200px;
        max-height: 90%;
        width: auto;
        height: auto;



    }

    h1 {
        font-size: 70px;
        width: 400px;
        font-weight: 900;
        line-height: 100%;
        margin-bottom: 10px;
        margin-left: 300px;
        margin-top: 100px;
    }

    h2 {
        color: #515151;
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    p {
        display: none;
    }


}